.menu {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  align-items: center;
  background-color: black;

  display: flex;
  z-index: 1;
  box-sizing: border-box;

  padding: 0px 20px;
  justify-content: space-between;
  &__item {
    display: block;
    color: white;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    background-color: inherit;
    border: none;
    cursor: pointer;

    transition: all 0.3s;
    &:hover {
      background-color: rgba(148, 148, 148, 0.24);
    }
  }

  &__logo {
    display: block;
  }

  &__nav {
    display: flex;
  }
}

.active {
  color: #06b6d4;
}
