.form {
  padding: 20px;
  width: 400px;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;

  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 0px 0px 20px;
    box-sizing: border-box;
  }

  &__input {
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    margin: 0 auto;
    display: block;
    outline: none;
    margin: 30px 0px;
  }

  &__button {
    padding: 15px 50px;
    background-color: #06b6d4;
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 20px auto 0px;
    border: none;
    outline: none;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}
